.main{
  width:90%
  max-width: 69em;
  margin: auto;
  padding: 1.875em 3.125em 1.875em;
}

*{
  box-sizing: border-box;

}

.timeline{
  margin: 30px;
}

body{
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47a3da;
  font-size: 100%;
}


.time span{
  display: block;
}

.clock{
  font-size: 25px;
}

.label--1{
  color: white;
  background-color: #6CBFEE;
  width: 50%;
  padding: 20px;
  margin-left: 300px;


}

.label--2{
  color: white;
  background-color: #3594CB;
  width: 50%;
  padding: 20px;
  margin-left: 300px;
}

/*.time{
  margin-left: 300px;
}  why is this not moving over my date and time??!!*/

.fa{
  font-size: 60px;
  color: white;

}

.inner-circle{
 /*border: dotted;*/
width: 60px;
height: 60px;
border-radius: 50%;
background-color: #6CBFEE;
text-align: center;
top: 50%;
   left: 50%;
   margin: -30px 0px 0px -30px;
   position: absolute;



}
 .outer-circle{
   /*border: dotted;*/
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: #3594CB;
   text-align: center;
    position: relative;

 }
